<header class="store-header">
  <div class="top-navbar">
    <div class="container flex justify-between">
      <div class="flex-1 flex items-center gap-2">
        {% if important_links %}
          <salla-menu source="footer" topnav></salla-menu>
        {% endif %}

        <div class="header-buttons">
          {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
            <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn-rounded">
              <span class="flag iti__flag iti__{{ user.language.country_code }}"></span>
              <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
            </button>
            <salla-localization-modal></salla-localization-modal>
          {% endif %}
        </div>

        {% if store.scope %}
          <button class="btn-rounded" onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
            <i class="sicon-location"></i> {{ store.scope.name }}
          </button>
        {% endif %}

        <div class="header-search flex-1">
          <salla-search inline oval height="36"></salla-search>
        </div>
      </div>

      <salla-contacts is-header></salla-contacts>
    </div>
  </div>

  <div id="mainnav" class="main-nav-container">
    <div class="inner">
      <div class="container">
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <a class="lg:hidden mburger" href="#mobile-menu" aria-label="Open-menu">
              <i class="sicon-menu text-primary"></i>
            </a>
            <a class="navbar-brand" href="{{ store.url }}">
              <img src="{{ store.logo }}" alt="{{ store.name }} logo">
            </a>
            <custom-main-menu></custom-main-menu>
          </div>
          <div class="flex items-center justify-end">
            {% if user.type=='user' %}
              <salla-user-menu avatar-only show-header></salla-user-menu>
            {% else %}
              <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                <i class="header-btn__icon sicon-user-circle"></i>
              </button>
            {% endif %}
            <salla-cart-summary>
              <i class="header-btn__icon sicon-shopping-bag"></i>
            </salla-cart-summary>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% if store.scope %}
  <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
