<footer class="site-footer">
  <div class="container flex justify-between items-center">
    <div class="footer-left">
      <a href="{{ store.url }}" class="logo">
        <img src="{{ store.logo }}" alt="{{ store.name }} logo">
      </a>
    </div>
    <div class="footer-links">
      <ul class="flex gap-4">
        <li><a href="{{ store.url }}/about" class="footer-link">عن الموقع</a></li>
        <li><a href="{{ store.url }}/contact" class="footer-link">اتصل بنا</a></li>
        <li><a href="{{ store.url }}/privacy-policy" class="footer-link">سياسة الخصوصية</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <ul class="flex gap-4">
        <li><a href="#" class="footer-social-link"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" class="footer-social-link"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" class="footer-social-link"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <p>&copy; 2025 {{ store.name }}. جميع الحقوق محفوظة.</p>
  </div>
</footer>
